<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span class="font-weight-light">News</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        text
        target="_blank"
      >
        <span class="mr-2">

         

        </span>
      </v-btn>
    </v-app-bar>

    <v-content>
      <News/>
    </v-content>
  </v-app>
</template>

<script>
import News from './components/News';

export default {
  name: 'App',
  components: {
    News,
  },
  data: () => ({
    //
  }),
};
</script>
